@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import "tailwindcss";

/* Reset & base styles */
@layer base {
  :root {
    --spacing-hero-block: 40px;
  }

  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-size: 62.5%;
  }

  body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    overflow-y: overlay;
  }

  #root {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  button,
  [tabindex],
  input {
    border: none;
    outline: none;
    background: none;
  }

  a {
    text-decoration-skip-ink: none;
    /* hoặc text-decoration: none; */
  }
}

/* Theme variables */
@theme {
  --color-primary: #db4444;
  --font-inter: "Inter", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}

/* Utilities tùy chỉnh */
@layer utilities {
  .app-container {
    @apply w-full max-w-[1170px] mx-auto px-[15px];
  }
}
