@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import "tailwindcss";

@layer base {
  :root {
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  #root {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

@layer utilities {
  .app-container {
    @apply w-full max-w-[1170px] mx-auto px-[15px];
  }
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  overflow-y: overlay;
}

button,
[tabindex],
input {
  border: none;
  outline: none;
}

@layer base {
  a {
    text-decoration-skip-ink: none;
  }
}

a {
  /* text-decoration: none; */
}
